.alt-screen-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.alt-screen-header__title {
  font-weight: 600;
  font-size: 26px;
}
.alt-screen-header__column span:last-child {
  margin-left: 20px;
}
.alt-screen-header__column {
  width: 33%;
}
.alt-screen-header__column:first-child {
  margin-right: auto;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
